#drop-area {
    border: 2px dashed #bbb;
    border-radius: 20px;
    width: 98vw;
    height: 50vh;
    font-family: sans-serif;
    right: 1vw;
    bottom: 1vh;
    position: fixed;
    background-image: url(dd_img.png);
    background-repeat: no-repeat;
    background-position: center;
}


#inputfile {
    bottom: 16px;
}


#output_java_code {
    width: 60%;
    height: 5%;
    opacity: 20%;
    position: fixed;
    left: 4px;
    bottom: 5%;
    visibility: hidden;
    resize: none;
}


#output_shops_code {
    width: 35%;
    height: 5%;
    opacity: 20%;
    position: fixed;
    right: 4px;
    bottom: 5%;
    visibility: hidden;
    resize: none;
}


